body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  --bleu-fonce: #96c5f7;
  --bleu-moyen: #a9d3ff;
  --bleu-clair: #f2f4ff;
  background-color: #a9d3ff;
}
header {
  align-items:center;
  justify-content:center;
  background: rgba(122, 121, 121, 0.05);
  padding: 0px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 100px;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  z-index: 5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family:'Times New Roman', Times, serif;
}
header::before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2)) transparent;
  transition: .3s;
  border-bottom-color: aliceblue;
  border-bottom: 1px solid rgb(223, 219, 219, .5);
}
header:hover::before{
  left: 100%;
}
header:hover{
  background-color: transparent;
  backdrop-filter: blur(150px);
}
nav {
  margin: 0;
  display: flex;
  align-items: center; 
  flex-wrap:wrap;
  float:right;
  margin-right: 120px;
  gap: 50px;
}
.logo img{
  display: flex;
  float: left;
  height: 4%;
  width: 4%;
  padding: 5px;
}

nav  button{
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 300;
  font-size: 24px;
  padding: 20px 20px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-style: none;
}
nav button:hover , button span:hover{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
}

nav #HISTOIRE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #HISTOIRE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

#HISTOIRE:hover {
  padding-right: 25px;
}

nav #HISTOIRE:hover::after{
  opacity: 1;
  right: 0;
}

nav #ECONOMIE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ECONOMIE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ECONOMIE:hover {
  padding-right: 25px;
}

nav #ECONOMIE:hover::after{
  opacity: 1;
  right: 0;
}
nav #FONCTIONNEMENT{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:hover {
  padding-right: 25px;
}

nav #FONCTIONNEMENT:hover::after{
  opacity: 1;
  right: 0;
}

nav #ETHIQUE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ETHIQUE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ETHIQUE:hover {
  padding-right: 25px;
}

nav #ETHIQUE:hover::after{
  opacity: 1;
  right: 0;
}
#slogan{ 
  text-align: center;
  justify-content: center;
  font-size: 45px;
  position:absolute;
  top: 50%;
  left: 50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: antiquewhite;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: Fondue 2s forwards;
  transition: all 1s ease-in;
  opacity: 1;
  z-index: 1;
}
@keyframes Fondue{
  to{
    opacity: 1;
  }
}
#slogan:hover{
  border-radius: 50px;
  background: transparent;
  backdrop-filter: blur(4px);
}
.acceuil>video{
  width: 100%;
  z-index: -1;
}
.acceuil{
  background-color: var(--bleu-moyen);
}
.contenu_1{
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  scale: 0.9;
  height: 800px;
  border-radius: 45px;
  transition: all 0.4s ease-in-out;
  background-color: var(--bleu-clair);
  opacity: 0.6;
}

.contenu_1:hover {
  opacity:1;
  scale: 1;
  border-radius: 0;
  box-shadow:none;
}
.contenu_1 h1{
  text-align: center;
  position: absolute;
  justify-content: center;
  display: block;
  color: black;
  left: 15%;
  font-size: 70px;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  padding: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: 50px;
}
.contenu_1:hover h1{
  opacity: 1;
}
.blocks div{
  display: inline-block;
  height: 400px;
  background-color: var(--bleu-moyen);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  gap: 30px;
  font-size: 30px;
  padding: 10px;
  width: 20%;
  position: relative;
  margin: 50px;
  border-radius: 30px;
  top: 200px;
  transition: all .3s ease-in-out;
  color: black;
  word-wrap: break-word;
}
.blocks div img{
  width: 100%;
  height: 50%;
  border-radius: 30px;
}
.block_1 h1{
  font-size: 41px;
  text-align: center;
  position: static;
  margin-bottom: 0;;
}
.block_1 p{
  opacity: 0;
  margin-top: 0px;
  transition: all 0.4s ease-in-out;
}
.contenu_1:hover p{
  opacity: 1;
  margin-top: 0px;
}
.block_1:hover{
  top: 190px;
  box-shadow: 0 0 30px rgba(252, 252, 252, 0.8);
}
.block_2:hover{
  top: 190px;
  box-shadow: 0 0 30px rgba(252, 252, 252, 0.8);

}
.block_3:hover{
  top: 190px;
  box-shadow: 0 0 30px rgba(252, 252, 252, 0.8);

}
.contenu_1{
  justify-content: center;
  align-items: center;
  padding-left: 200px;
}
.contenu_2 > video{
  position:absolute;
  width: 100%;
  opacity: 0.4;
  scale:0.9;
  border-radius: 45px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  top: 1715px;
}
.contenu_2:hover video{
  opacity:1;
  scale: 1;
  border-radius: 0;
  box-shadow:none;
}
#lien_shadow{
  position: absolute;
  display: flex;
  left: 44.5%;
  top: 297%;
  height: 80px;
  width: 170px;
  border-radius: 10px;
  background: linear-gradient(135deg,white,var(--bleu-fonce),white);
  background-size: 600% 600%;
  animation: degrade_anime 4s ease-in-out infinite;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  filter: blur(7px);
  opacity: 0;
}
.contenu_2 a:hover ~ #lien_shadow{
  opacity: 1;
}
#lien_histoire{
  position: relative;
  display: flex;
  left: 45%;
  top: 51%;
  height: 70px;
  width: 150px;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in-out;
  text-decoration-color: transparent;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
#lien_histoire:hover{
  opacity: 1;
  background-color: #f5f5f55e;
}
.contenu_2{
  height: 1000px;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 0px;
  overflow: hidden;
}
.presentation_1{
  background-color: #96c5f73b;
  border-radius: 40px;
  float: right;
  color: whitesmoke;
  text-align: center;
  top: 48%;
  padding: 20px;
  position: relative;
  height: 550px;
  width: 300px;
  display:block;
  transform: translate(-50%, -50%);
  font-size: 25px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.presentation_1:hover{
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.6);
}
.partie_1 ,.partie_2 , .partie_3{
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  height: 15%;
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}
.partie_1:hover{
  background: linear-gradient(to right,#a9d3ffee,#f2f4ff7e);
  border-radius: 20px;
  background-size: 200% 1200%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  background-position: 0% 50%;
}
.partie_2:hover{
  background: linear-gradient(to right,#a9d3ffee,#f2f4ff7e);
  border-radius: 20px;
  background-size: 200% 1200%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  background-position: 0% 50%;
}
.partie_3:hover{
  background: linear-gradient(to right,#a9d3ffee,#f2f4ff7e);
  border-radius: 20px;
  background-size: 200% 1200%;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
  background-position: 0% 50%;
}
.presentation_1 p{
  margin: 0;
  width: auto;
  position: absolute;
  text-align: center;
  margin: 20px 0 0 0px;
}
@keyframes degrade_anime{
  0%{
    background-position: 0%, 50%;
  }
  50%{
    background-position: 100%, 50%;
  }
  100%{
    background-position: 0%, 50%;
  }

}
.presentation_1 h1{
  font-size: 40px
}
.presentation_1 div img{
  width: 30%;
  height: 100%;
  float: right;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: inherit;
}

.presentation_2{
  background-color: #96c5f73b;
  margin-bottom: 50px;
  border-radius: 40px;
  color: whitesmoke;
  text-align: center;
  overflow: hidden;
  top: 30%;
  left: 20%;
  padding: 10px;
  position: relative;
  height: 250px;
  width: 300px;
  display:block;
  transform: translate(-50%, -50%);
  font-size: 25px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition: all 0.4s ease-in-out;
}
.presentation_2:hover{
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 350px;
  margin-bottom: 0;
}
.presentation_2 img{
  width: 100%;
  height: 200px;
  border-radius: inherit;
}
.presentation_2 h1{
  font-size: 25px;
  padding-top: 0px;
}
.presentation_2 p{
  opacity: 0;
  transition: all 1s ease-in;
font-size: 20px;
}
.presentation_2:hover p{
  opacity: 1;
}
.presentation_2:hover ~ .presentation_3{
  height: 200px;
}

.presentation_3{
  background-color: #96c5f73b;
  border-radius: 40px;
  color: whitesmoke;
  text-align: center;
  top: 30%;
  left: 20%;
  padding: 10px;
  position: relative;
  height: 250px;
  width: 300px;
  display:block;
  transform: translate(-50%, -50%);
  font-size: 25px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.presentation_3:hover{
  backdrop-filter: blur(100px);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 400px;
  margin-top: 0;
}

.contenu_3{
  height: 500px;
  background-color: rgb(60, 60, 60);
  justify-content: center;
  align-items: center;
}
.contenu_3 img{
  width:10%;
  gap: 100px;
}
footer{
  background-color: black;
  display: block;
  margin: 0;
  padding: 0;
  height: 100px;
  justify-content: end;
  color: aliceblue;
}
footer>p{
  padding-top: 50px;
  text-align: center;
  margin-top: 0;
}
#img_acceuille{
  width: 100%;
  margin: 0;
}
@media (max-width: 868px) {
  nav > button{
    font-size: 50%;
    padding: 10px 12.5px;
  }
  .logo{
    width: 17.5px;
    height: 17.5px;
  }
}
@media (max-width: 350px) {
  nav > button{
    font-size: 25%;
    padding: 5px 6.25px;
  }
  .logo{
    width: 8.5px;
    height: 8.5px;
  }
}
