body, html{
  margin: 0;
  padding: 0;
  background-color: brown;
  width: 100%;
}
header {
  align-items:center;
  font-family:'Times New Roman', Times, serif;
  justify-content:center;
  background: rgba(122, 121, 121, 0.05);
  padding: 0px;
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom: 100px;
  transition: all 0.8s ease-in-out;
  backdrop-filter: blur(10px);
  z-index: 5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
header::before{
  content: '';
  position:absolute;
  top:0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2)) transparent;
  transition: .3s;
  border-bottom-color: aliceblue;
  border-bottom: 1px solid rgb(223, 219, 219, .5);
}
header:hover::before{
  left: 100%;
}
header:hover{
  background-color: transparent;
  backdrop-filter: blur(150px);
}
nav {
  margin: 0;
  display: flex;
  align-items: center; 
  flex-wrap:wrap;
  float:right;
  margin-right: 120px;
  gap: 50px;
}
.logo img{
  display: flex;
  float: left;
  height: 4%;
  width: 4%;
  padding: 5px;
}

nav  button{
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 300;
  font-size: 24px;
  padding: 30px 20px;
  display: inline-block;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  border-style: none;
}
nav button:hover{
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
}
nav #HISTOIRE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #HISTOIRE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #HISTOIRE:hover {
  padding-right: 25px;
}

nav #HISTOIRE:hover::after{
  opacity: 1;
  right: 0;
}


nav #ECONOMIE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ECONOMIE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ECONOMIE:hover {
  padding-right: 25px;
}

nav #ECONOMIE:hover::after{
  opacity: 1;
  right: 0;
}

nav #FONCTIONNEMENT{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #FONCTIONNEMENT:hover {
  padding-right: 25px;
}

nav #FONCTIONNEMENT:hover::after{
  opacity: 1;
  right: 0;
}

nav #ETHIQUE{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

nav #ETHIQUE:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

nav #ETHIQUE:hover {
  padding-right: 25px;
}

nav #ETHIQUE:hover::after{
  opacity: 1;
  right: 0;
}
#slogan{ 
  text-align: center;
  justify-content: center;
  font-size: 45px;
  position:absolute;
  top: 50%;
  left: 50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: antiquewhite;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: Fondue 2s forwards;
  transition: all 1s ease-in;
}
@keyframes Fondue{
  to{
    opacity: 1;
  }
}
#slogan:hover{
  border-radius: 50px;
  background: transparent;
  backdrop-filter: blur(4px);
}
.acceuil{
  padding-bottom: 0;
}
video{
  position:absolute;
  width: 100%;
}
.contenu{
  background-color: antiquewhite;
  height: 600px;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 150px;
}
.presentation{
  background-color: transparent;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 500px;
  display:block;
  transform: translate(-50%, -50%);
  left: 30%;
  top:100%;
  font-size: 25px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
footer{
  background-color: black;
  display: block;
  margin: 0;
  padding: 0;
  height: 100px;
  justify-content: end;
  color: aliceblue;
}
footer>p{
  padding-top: 50px;
  text-align: center;
  margin-top: 0;
}
#img_acceuille{
  width: 100%;
  margin: 0;
}
@media (max-width: 868px) {
  nav > button{
    font-size: 50%;
    padding: 10px 12.5px;
  }
  .logo{
    width: 17.5px;
    height: 17.5px;
  }
}
@media (max-width: 350px) {
  nav > button{
    font-size: 25%;
    padding: 5px 6.25px;
  }
  .logo{
    width: 8.5px;
    height: 8.5px;
  }
}
